	<div>
			<p>===============================================================================</p><br>
			This is my Footer Component<br>
			<p>===============================================================================</p><br>
		</div>	