@{
    //var item = Sitecore.Context.Database.GetItem("/sitecore/content/Alexa/Home/Settings/GlobalSettings");
    //var item = Sitecore.Context.Database.GetItem("/sitecore/content/Home/Alexa/WebForVS/Setting");

    var item = Sitecore.Context.Database.GetItem("{C76807A4-7D9D-4048-972A-B269CF31ECBF}");
}
//sitecore/content/Home/Alexa/WebForVS/Setting12
<div>
   
    Way 3 - @Html.Sitecore().Field("WebsiteHeading", item)
    
</div>
