@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <body>
        <div>
		 <div>
            @Html.Sitecore().Placeholder("phMain")
        </div>
		</div>	
    </body>
</html>
